*{
    font-family: 'Courier New'; 
    
}
h1{
    color: #b92b27;
}
#login{
    background-color: #ffffff;
}
h2+p{
    text-decoration: underline;
}
button:hover{
    background-color: black;
    color: yellow;
}
button:active{
    background-color: hotpink;
    color: black;
}
input[type="radio"]:checked+label{
    color:red;
    font-weight: bold;
}
div{
    background-color: rgb(132, 223, 235);
}
p2{
    text-decoration: bold !important;
}